.title-sponsorship {
  background-color: #fcecdd;
  padding-top: 2%;
}
.top {
  text-align: center;
}
.title-logo {
  height: 70px;
  width: 70px;
}
.sub-heading {
  text-align: center;
  padding-top: 3%;
  color: #ff6701;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 3%;
}
.title-nav {
  padding-left: 3%;
  padding-right: 4%;
}
.section-text {
  padding: 5%;
  padding-bottom: 1%;
  padding-top: 1%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
}
#sponsorus {
  text-align: center;
}
.brochure {
  margin-bottom: 5%;
}
.center-div {
  margin: auto;
}
.card-sponsor {
  margin-top: 5%;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: none;
  perspective: 1000px;
  display: inline-block;

  /* Remove this if you don't want the 3D effect */
}
.margin-custom {
  margin: 5%;
}
.oursponsors {
  text-align: center;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.custom-card {
  font-size: 20px;
}
/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(253, 250, 250);

  color: #000;
  transform: rotateY(180deg);
}
.img-sponsor {
  width: 300px;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
}
.img-special {
  width: 200px;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
}
.popout {
  font-family: Futura, sans-serif;
  font-weight: 900;
  font-size: 80px;
  padding: 80px;
}
@keyframes ani {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 #fea82f;
    color: black;
  }
  30% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 #fea82f;
    color: black;
  }
  70% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em #fea82f;
    color: black;
  }
  100% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em #fea82f;
    color: black;
  }
}
.popout span {
  position: relative;
  display: inline-block;
  animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}
.popout span:nth-last-child(1n) {
  animation-delay: -0.1666666667s;
}
.popout span:nth-last-child(2n) {
  animation-delay: -0.3333333333s;
}
.popout span:nth-last-child(3n) {
  animation-delay: -0.5s;
}

@media (max-width: 971px) {
  .popout {
    font-family: Futura, sans-serif;
    font-weight: 900;
    font-size: 60px;
    padding: 80px;
    text-align: center;
  }
}
@media (max-width: 610px) {
  .popout {
    font-family: Futura, sans-serif;
    font-weight: 900;
    font-size: 40px;
    padding: 20px;
    text-align: center;
  }
  .section-text {
    text-align: justify;
  }
}
.site-footer {
  background-color: #fea82f;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #fcecdd;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.youtube:hover {
  background-color: #ff0000;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.instagram:hover {
  background-color: #bc2a8d;
}
.social-icons a.envelope:hover {
  background-color: #4285f4;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
.sub-heading1 {
  text-align: center;
  padding-top: 3%;
  color: #ff6701;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 0%;
}
